<div class="fixed inset-0 flex justify-center items-center bg-gray-100">
  <div
    class="relative flex flex-col justify-end max-w-lg w-full h-full bg-blue-500 border-gray-300"
  >
    <div
      class="flex flex-col justify-center w-full h-52 p-4 gap-4 text-white font-bold"
    >
      <div class="text-2xl">
        Hi, {{ userData?.name }}
        <i
          class="fa-solid fa-right-from-bracket cursor-pointer"
          (click)="signOutUser()"
        ></i>
      </div>
      <div class="text-4xl whitespace-pre">
        {{ getFormattedDate() }}
      </div>
    </div>
    <div class="flex flex-col p-4 h-full bg-white w-full gap-6">
      <div *ngFor="let todoItem of todoItems">
        <app-todo-card
          [title]="todoItem.title"
          [description]="todoItem.description"
          [checked]="todoItem.checked"
          (toggle)="toggleItem(todoItem.id)"
          [fontAwesomeIcon]="todoItem.fontAwesomeIcon"
        ></app-todo-card>
      </div>
    </div>
    <div
      *ngIf="!showAddTodoItemMenu"
      class="absolute bottom-10 left-0 right-0 flex justify-center items-center"
    >
      <app-button (click)="toggleShowAddTodoItemMenu()">+</app-button>
    </div>
    <app-add-new-todo-item
      class="absolute left-0 right-0 h-60 bg-white z-10 border-t border-t-gray-300"
      *ngIf="showAddTodoItemMenu"
      (cancel)="toggleShowAddTodoItemMenu()"
    ></app-add-new-todo-item>
  </div>
</div>
