<div class="fixed inset-0 flex justify-center items-center bg-gray-100">
  <div
    class="relative flex flex-col justify-end max-w-lg w-full h-full border-gray-300"
  >
    <div
      class="flex flex-col justify-center w-full h-52 p-4 gap-4 text-white bg-blue-500 font-bold"
    >
      <div class="text-2xl">
        Hi, {{ userData?.name }}
        <i
          class="fa-solid fa-right-from-bracket cursor-pointer"
          (click)="signOutUser()"
        ></i>
      </div>
      <div class="text-4xl whitespace-pre">
        {{ getFormattedDate() }}
      </div>
    </div>
    <div
      class="flex flex-col p-4 h-full bg-white w-full gap-6 overflow-y-auto"
      [ngClass]="{
        'brightness-50': showAddTaskMenu,
        'pointer-events-none': showAddTaskMenu,
        'transition-all': showAddTaskMenu,
        'transition-none': !showAddTaskMenu
      }"
    >
      <div *ngFor="let task of tasks">
        <app-task-card
          [task]="task"
          (toggle)="toggleItem(task.id)"
        ></app-task-card>
      </div>
    </div>
    <div class="relative p-4 flex justify-center items-center bg-blue-500">
      <app-add-new-task
        class="absolute inset-x-0 h-96 -top-96 bg-white z-10"
        *ngIf="showAddTaskMenu"
        (cancel)="toggleShowAddTaskMenu()"
        (add)="onAdd($event)"
      ></app-add-new-task>
      <app-button
        (click)="toggleShowAddTaskMenu()"
        [variant]="!showAddTaskMenu ? 'primary' : 'secondary'"
      >
        <i
          *ngIf="!showAddTaskMenu"
          class="fa-solid fa-circle-plus text-blue-700"
        ></i>
        <i
          *ngIf="showAddTaskMenu"
          class="fa-solid fa-circle-xmark text-yellow-300"
        ></i>
      </app-button>
    </div>
  </div>
</div>
